@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="helloHome">
                <img src="~/Content/Images/hello.svg" />
            </div>
        </div>
        <div class="col-md-7">
            <div class="jumbotron">
                <h1>LPPA</h1>
                <p class="lead">Página Web destinada a la resolución de ejercicios de la materia 
                LPPA correspondiente a la carrera de Ing. en Sistemas Informáticos en UAI.</p>

            </div>
        </div>
    </div>
</div>




