
@{
    ViewBag.Title = "Selectores 3";
}
<style>
    a{
        text-decoration:none;
        color:red;
    }
    a:hover{
        background:red;
        color:white;
    }
    a:visited{
        color:darkgreen;
    } 
    a:active{
        color:orange;
    }
    a:focus{
        text-decoration:none;
        color:blue;
    }
    .content{
        height:400px;
    }
</style>
<div class="content">
    <h1>Universidad de Buenos Aires</h1>
    <ul>
        <li><a href="">Presentación</a></li>
        <li><a href="">Estudios</a></li>
        <li><a href="">Alumnos</a></li>
        <li><a href="">Deportes</a></li>
        <li><a href="">Servicios</a></li>
    </ul>
</div>

